/*DEFINION VARIABALES*/
:root {
  --color-principal: #ffffff;
  --color-cambio: #fffef2;
  --color-secundario: #879fe5;
  --color-fondo: #ffffff;
  --color-extra: #253787bb;
  --color-grad: linear-gradient(to right,
      rgb(91, 108, 220) 0%,
      gold 50%,
      var(--color-extra) 100%);
  --color-new: linear-gradient(45deg,
      var(--color-extra),
      var(--color-secundario),
      var(--color-text),
      var(--color-subtitulo));
  --color-icon: #c70039;
  --color-btn: #99002e;
  --color-titulo: #7064e3;
  --color-subtitulo: #000;
  --color-text: #515fe1;
  --font-title: "Stalemate";
  --font-subtitle: "Vujahday Script";
}

/*Header*/
header {
  padding-bottom: 2px;
  background: linear-gradient(-45deg,
      rgba(75, 73, 73, 0.067),
      var(--color-secundario),
      var(--color-btn),
      #000);
  background-color: var(--color-secundario);
}

h1 {
  font-family: var(--font-title);
  color: var(--color-principal);
  font-size: 1.4rem;
  text-align: center;
}

.barras {
  padding: 10px;
  color: var(--color-principal);
}

.encabezado-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  margin-bottom: 2px;
}

/*Logo*/
header>div>a>img {
  width: 80px;
  height: 80px;
  padding: 5px 10px 0;
}

header>div>a>img:hover {
  transform: rotate('45');
}

/*Header Nav*/
nav {
  margin-top: -15px;
}

nav>ul {
  width: 95%;
  padding-inline-start: 10px;
}

nav>ul>li:hover {
  background-color: var(--color-extra);
}

li {
  list-style: none;
}

nav>ul>li {
  border: 1px solid black;
  justify-content: center;

  padding: 10px 20px;
  display: flex;

}

nav>ul>li a {
  text-decoration: none;
  padding: 10px 30%;
  color: var(--color-cambio);
  opacity: 0.7;
}

/*Body*/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oculto {
  display: none;
}

.boton_variedades>a>img {
  width: 95%;
}

.boton_variedades>a {
  margin: 10px;
  display: block;
  width: 100%;
}

figcaption{
  font-size: 40px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.quienes-somos {
  align-items: inherit;
  display: inherit;
  flex-direction: inherit;
}

/*tabla*/
.tabla {
  display: flex;
  flex-direction: column;
}
th {
  background-color: #4a370745;
  color: white;
  
}
tbody {
  color: rgba(18, 17, 3, 0.223);
}

table, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
  
}

td {
  text-align: center;
}

#detalle-tabla {
  display: none;
}
form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px
}
form label{
  margin: 5px 0;
}
form :last-child(label){
  align-self: flex-start;
}
form input,form select ,form textarea{
  width: 100%;
  margin-left: 1px;
}
form input,form textarea{
  box-sizing: border-box;
}



/*footer*/
.footer-contacto {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

footer span {
  color: #99002e;
}

.footer-contacto a {
  margin: 10px 30px;
}

.footer-contacto img {
  width: 32px;
}

footer div:last-child {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div:last-child ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  align-items: center;
}

footer div:last-child ul li {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--color-extra);
}

/*pagina variedades*/
.main-variedades img {
  width: 95%;
}

/*
  CAPTCHA
  */



  #captcha{
    text-decoration: line-through;
    width: 200px;
    height: 70px;
    margin: 15% 15% 15% 20% ;
  }

  #mensaje-captcha{
    max-width: 320px;
  }

  #contacto{
    width: 100%;
  }

  #captcha_ingresado{
    width: 200px;
    height: 30px;
    margin: 15% 20% 15% 20% ;
  }


/*media*/
@media only screen and (min-width: 425px) {
  h1 {
    font-size: 2rem;
  }

  #captcha{
    width: 200px;
    height: 70px;
    margin: 15% 15% 15% 45% ;
  }

  #captcha_ingresado{
    width: 200px;
    height: 30px;
    margin: 15% 15% 15% 45% ;
  }
}

@media only screen and (min-width: 660px) {
  .barras {
    display: none;
  }

  #detalle-tabla {
    display: block;
  }

  header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .encabezado-mobile {
    justify-content: flex-start;
  }

  h1 {
    font-size: 3rem;
  }

  .navegacion {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  nav>ul {
    display: flex;
  }

  nav>ul>li {
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 10%;
    width: 100%;
    margin: 1px;
  }

  /*variedades*/
  .main-variedades div {
    display: flex;
    flex-wrap: wrap;
  }

  .main-variedades a {
    width: 49%;
  }

  #captcha{
    width: 200px;
    height: 70px;
    margin: 15% 15% 15% 30% ;
  }

  #captcha_ingresado{
    width: 200px;
    height: 30px;
    margin: 15% 20% 15% 20% ;
  }

}

@media only screen and (min-width: 886px) {
  .contacto{
    flex-direction: row;
    justify-content: space-evenly;
  }

  #contacto{
    width: 40%;
  }

  .tabla{
    width: 80%;
    margin: 5% 10% 5% 10%;

  }

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navegacion {
    margin-right: 10px;
  }

  nav>ul>li {
    margin: 2px;
  }

  #captcha{
    width: 200px;
    height: 70px;
    margin: 15% 15% 15% 45% ;
  }

  #captcha_ingresado{
    width: 200px;
    height: 30px;
    margin: 15% 15% 15% 45;
  }
}

